#root {
    background-color:#cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 60px;
}
.jumbotron {
    margin: 10px;
    background-color: #b9b0b0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
 
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer span {float:left; width:100%; text-align:center; }

.col-sm-6 {
  position: relative;
  max-width: 800px; 
  margin: 0 auto; 

}
 .text-block  {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #b9b0b0;
    width: 50%; 
    padding: 20px; 
}
.projectlink {
    color: #b9b0b0;
}
h3 {
    font-size: small;
}
img{
    padding-right: 15px;
}
.rounded {
  width: 300px;
  height: 200px;
}